<footer>
    <div class="foot-wrap">

        <div class="footelt">
            <img class="left" src="/images/logo/bmbf.png" alt="Logo des BMBF" width=100%/>
        </div>

        <div class="footelt">
            <p class="justify">{{ i18n "tpl_footer" | safeHTML}}</p>
        </div>

        <div class="footelt text_right">
            <div class="foottxt">
              {{ range .Site.Menus.footer -}}
                  <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{- end }}
            </div>
            <div class="foottxt">
                <img src="/images/logo/logo_dpnb.png" alt="Logo des Projekts"/>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
