<nav id="menu">
    <div id="bigTitle" class="wholepage">
        <a href="#" id="menu-icon"></a>
        <a href="/" id="logo_dpnb_menu"> </a>
        <ul>
          {{- $currentPage := . -}}
          {{ range .Site.Menus.main -}}
            {{ if .HasChildren }}
              <li class="dropdown">
                  <a href="{{ .URL | absLangURL }}" {{ if hasPrefix ($currentPage.Permalink|string) (.URL|absLangURL|string)}}class="blue"{{ end }}>{{ .Name }} </a>
                  <div id="dropdown-content">
                    {{ range .Children }}
                      <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    {{ end }}
                  </div>
              </li>
            {{ else }}
              <li>
                  <a href="{{ .URL | absLangURL }}" <img src="/images/language.png" alt="Sprache ändern" width=45px/> </a>
              </li>
            {{ end }}
          {{- end }}

          {{ $curLang := .Site.Language.Lang }}
          {{ range $.Site.Home.AllTranslations }}
            {{ if ne .Language.Lang $curLang }}
              <li><a href="{{ .Permalink }}">{{ .Language.LanguageName  }}</a></li>
            {{/* {{ else }}
            <li>{{ .Language.LanguageName }}</li>*/}}
            {{ end }}
          {{ end }}

        </ul>
    </div>
</nav>
