/*
APPLIED TO THE WHOLE PAGES
*/
body {
    font-family: "Segoe UI", Verdana, "DejaVu Sans", Geneva, sans-serif;
	margin:0px;
	margin-top:75px;
	font-weight:300;
	font-size: large;
}

.frame{		/*Frame around the page*/
	margin:0px ; 
	overflow:hidden;
}

/*
images that take the whole page 
*/
#projekt{
	background: lightblue url("../bild/gross/projekt.jpg") no-repeat center;
	background-size:cover;
	display:flex;
	align-items:center;
	justify-content:center;
}

#aktuelles{
	background: lightblue url("../bild/gross/aktuelles.jpg") no-repeat center;
	background-size:cover;
	display:flex;
	align-items:center;
	justify-content:center;
}

#kontakt{
	background: lightblue url("../bild/gross/kontakt.jpg") no-repeat center;
	background-size:cover;
	display:flex;
	align-items:center;
	justify-content:center;
}

/*
MENU AT THE TOP OF THE PAGES
*/
nav{
	list-style-type: none;
	margin:0px;
	padding: 0px;
	clear:both;
	background-color: AliceBlue; 
	text-align:right;
	position: fixed;
	top: 0px;
	width: 100%;
	border-bottom: 3px solid white;
}

nav ul{
	margin:0px;
}

nav ul li{	
	display:inline;
	margin:0px 1% 0px;

}

nav li a, .dropbtn{
	display:inline-block;
	padding:25px;
	text-align:center;
	color:black;	
	font-weight:400;
	text-decoration:none;
	margin:0px;	
}

nav li a:hover {
	text-decoration:underline;
}

nav li a.blue{ /*current page*/
	background-color:rgb(19, 98, 148);
	color:white; /*to avoid the change of color when hovering*/
}

nav li.dropdown{
	display:inline-block;	
}

nav #dropdown-content{
	display:none;
	/*position:absolute;*/
	position: fixed;
	z-index:1;
	background-color: rgba(240, 248, 255, 0.90);;
	width:160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}

nav #dropdown-content a{
	padding:12px 16px;
	display:block;
	text-align:left;
	text-decoration:none;
	color:black;
}

nav #dropdown-content a:hover {
	text-decoration:underline;
}

nav .dropdown:hover #dropdown-content{
	display:block;
}

#menu-icon {	/*appears only for smaller screens*/
	display: hidden;
	width: 60px;
	height: 60px;
	background: url("../bild/menu_icon.png") center no-repeat;
}

#logo_dpnb_menu{
	display:inline-block;
	float: left;
	background: url("../bild/logo/logo_dpnb_banner.png") center no-repeat;
	background-size:contain;
	width:180px;
	height:70px;
}


/*
TEXT DESIGN INSIDE THE CLASS
*/
.wholepage{
	width:100%;
	margin: auto;
}

.subtitle{
	height: 430px;
	font-size: 86px;
	text-align:center;
	text-decoration:none;
}

.inbetween{
	margin: 50px 15% 50px;
	font-size: 32px;
	text-align:center;
}

.weiss{
	color: white;	
}


/*
FOOTER
*/
footer{
	padding:10px 5% ; 
	background-color:AliceBlue;
}

footer a {
	color:black;
}

.foot-wrap{
	padding:0px;
	margin:0px;
}

.foot-wrap .footelt{ /*three elements on the same line*/
	vertical-align:middle;
	display:inline-block;
	width:33%;
	margin:0px;
	padding:0px;
}

.foot-wrap .foottxt{ /*links on the right*/
	padding:15px;
}

.footelt .foottxt img{
	width: 80%;
}

.text_right{
	text-align:right;
}
.justify{
	text-align:justify;
}

/*
MEDIA-QUERIES
*/

/*
FOR TABLETS
*/


@media (max-width: 767px) {

/*NAVIGATION MENU*/
#menu-icon {
	display:inline-block;
	padding:5px;
	}

nav ul{
	display:none;
	text-align:center;
	padding-left:10px;
	background-color: rgba(240, 248, 255, 0.90);
}

nav:hover ul{
	display:inline-block;
	position:absolute;
	z-index:1;
	margin-left: -200px;
	margin-top: 75px;
	padding-left:0px;
	padding-right:0px;
}

nav ul li, .dropdown {
	display:block;
	width:200px;
	margin:0px;
	padding:0px;
}

nav ul li a, .dropbtn {
	width:100%; /*color blue on the whole line*/
	padding: 20px 0px 20px;
	margin:auto;
}

nav #dropdown-content{
	position:absolute;
	margin-left:-160px;
	width:160px;
	margin-top:-63px;
	box-shadow:none;
	background-color: rgba(240, 248, 255, 0.90);
	color:black;
	
}

nav #dropdown-content a{
	width:100%;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
}

#logo_dpnb_menu{ /*smaller than for PC*/
	width : 150px;
	height: 75px;
}

.subtitle{
	font-size: 64px;
}

.inbetween{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 24px;
}

/*FRAME AROUND THE PAGE*/
.frame{	
	padding-bottom:5px;
}

/*FOOTER*/
.foot-wrap .footelt{ /*elements take the whole width.*/
	width:100%;
	padding:0px;
}

.footelt img{
	display:block;
	max-width: 300px;
	margin:0 auto;
	float:none;
}

.foot-wrap .foottxt{
	padding-bottom:15px;
	text-align:center;
}
}


/*
FOR MOBILES
*/
@media (max-width: 480px) {
nav:hover ul{
	margin-left: -150px;
}

nav ul li, .dropdown {
	width:150px;
}

nav #dropdown-content{
	width:120px;
	margin-left:-120px;
	
}

nav #dropdown-content a {
	width:120px;
}

.subtitle{
	font-size: 48px;
}
}



