{{ partial "header" . }}
{{ partial "nav" . }}

<div class="frame">
    <a class="wholepage subtitle weiss" id="projekt" href="/projekt/">
        Das DPNB-Projekt
    </a>

    <div class="inbetween inbetween-spacing">
        Der Broker für dynamische Produktionsnetzwerke (DPNB) ermöglicht die kurzfristige und agile Bildung von Supply Chains 
        durch die Vernetzung von Kapazitätsanbietern und -nachfragern. Dadurch werden Wettbewerbsvorteile auf einem neuen Niveau erreicht.
    </div>

    <a class="wholepage subtitle weiss" id="aktuelles" href="/aktuelles/">
        Aktuelles
    </a>

    <div class="inbetween inbetween-spacing">
        Informieren Sie sich auf diesen Seiten über das Projekt und bleiben auf dem aktuellen Stand des Fortgangs.
    </div>

    <a class="wholepage subtitle weiss" id="kontakt" href="/kontakt/">
        Kontakt
    </a>

    <div class="inbetween inbetween-spacing">
        Zögern Sie nicht mit Fragen und Anregungen auf uns zu zukommen.
    </div>

</div>
{{ partial "footer" . }}
