{{ partial "header" . }}
{{ partial "nav" . }}

<div class="frame">

    <a class="wholepage fixheight" id="aktuelles" href="/aktuelles">
        <div class="subtitle weiss">Aktuelles</div>
    </a>

    <div class="inbetween">
        <i> "Zusammenkommen ist ein Beginn, <br /> Zusammenbleiben ist ein Fortschritt, <br />Zusammenarbeiten ist ein
            Erfolg." </i>
        <br />Henry Ford
        <br /> <br />
        In diesem Sinne finden sich an dieser Stelle die aktuellen Fortschritte und Erfolge unserer Arbeit.

    </div>

    {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages }}
    <div class="elt elt-spacing">
        <div class="padd">
            <div class="bold marginBot">{{ .Title }}</div>
            {{ .Content }}
        </div>
</div>
    {{ end }}

</div>

{{ partial "footer" . }}

